*{
	padding: 0px;
	margin: 0px;
}
body{
	background-image: url("../img/Copia de dawn.png");

}
h1{
	color: green;
	font: oblique bold 120% cursive;
}
img{
	display: block;
	position: absolute; 
	margin: 0 auto;
	bottom: 1%;
	width: 40%;
	left: 30%;
}
@media (min-width: 936px) and (max-width: 1200px) {
	body{
		background-image: url("../img/Copia de Landscape.jpg");
	}
	h1{
		color: yellow;
	}
}
@media (min-width: 604px) and (max-width: 935px) {
	body{
		background-image: url("../img/Copia de dawn.png");
	}
	img{
		width: 50%;
		left: 20%;
	}
	h1{
		color: blue;
	}
}
@media (min-width: 100px) and (max-width: 603px) {
	body{
		background-image: url("../img/Copia de maxresdefault.jpg");
	}
}
